registry=https://pkgs.dev.azure.com/Softobiztechnologies/4d77d632-ea34-4401-ba85-5fe0ab719e49/_packaging/softobiz-digital-fx/npm/registry/ 
                        
always-auth=true
; begin auth token
//pkgs.dev.azure.com/Softobiztechnologies/4d77d632-ea34-4401-ba85-5fe0ab719e49/_packaging/softobiz-digital-fx/npm/registry/:username=Softobiztechnologies
//pkgs.dev.azure.com/Softobiztechnologies/4d77d632-ea34-4401-ba85-5fe0ab719e49/_packaging/softobiz-digital-fx/npm/registry/:_password=NTRoMjR4a2FlYWZ2cHlqYjNybHVlZTJmaDczMnhxa3pmZ2I2MnNyaWVhNXN4c3FjaWhsYQ==
//pkgs.dev.azure.com/Softobiztechnologies/4d77d632-ea34-4401-ba85-5fe0ab719e49/_packaging/softobiz-digital-fx/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/Softobiztechnologies/4d77d632-ea34-4401-ba85-5fe0ab719e49/_packaging/softobiz-digital-fx/npm/:username=Softobiztechnologies
//pkgs.dev.azure.com/Softobiztechnologies/4d77d632-ea34-4401-ba85-5fe0ab719e49/_packaging/softobiz-digital-fx/npm/:_password=NTRoMjR4a2FlYWZ2cHlqYjNybHVlZTJmaDczMnhxa3pmZ2I2MnNyaWVhNXN4c3FjaWhsYQ==
//pkgs.dev.azure.com/Softobiztechnologies/4d77d632-ea34-4401-ba85-5fe0ab719e49/_packaging/softobiz-digital-fx/npm/:email=npm requires email to be set but doesn't use the value

; end auth token                                                            